@import url("https://fonts.googleapis.com/css2?family=Actor&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-actor: "Actor", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-primary: #000;
  --color-p1: #502f4c;
  --color-p2: #70587c;
  --color-p3: #c8b8db;
  --color-secondary: #f9f4f5;
  --color-black-100: #00040f;
  --color-black-200: "rgba(17, 25, 40, 0.75)";
  --color-black-300: "rgba(255, 255, 255, 0.125)";
}
@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .animate-shimmer {
    animation: shimmer 2s linear infinite;
    background-size: 200% 100%;
  }
}

body {
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-actor);
  color: var(--color-secondary);
  background-color: var(--color-black-100);
}
html {
  scroll-behavior: smooth;
}
